* {
    font-family: 'Stardos Stencil', cursive;
}

header {
    color: white;
}

.fa {
    font-size: 48px;
}

#column1 {
    background-color: black;
}

#column2 {
    background-color: blue;
    font-size: 48px;
}

.jumbotron {
    background-color: white;
    height: 70vh;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.jumbotron-fluid {
    height: 70vh;
    /*background-color: blue;
    border-style: solid;
    border-width: 1px;
    border-color: black;*/
}

.column-hdr {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0px;
    margin-bottom: 0px;
}

.dropdown-item {
    font-weight: bold;
}

#dropdown {
    padding: 10px 0px;
    width: 100%;
}

.wrapper {
    font-family: 'Sarabun', sans-serif;

    background: 
      radial-gradient(black 15%, transparent 16%) 0 0,
      radial-gradient(black 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;

    background-color:#282828;
    background-size:16px 16px;
}

#column3 {
    background-color: black;
}

#column4 {
    background-color: blue;
    font-size: 12px;
}


.panel {
    text-align: center;
}

.panel-btn {
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 40px;
    cursor: pointer;
    border-radius: 20%;
    opacity: 0.7;
}

.panel-btn:hover {
    opacity: 1;
}

#controls {
    width: 75%;
}

.slidecontainer {
    margin-left: 40%;
    margin-right: 40%;
}

.slider {
    width: 100%;
    opacity: 0.7;
}

.slider:hover {
    opacity: 1;
  }

.master-volume-text {
    color: white;
    text-align: center;
}

.option-container {
    background-color: rgba(0,0,0,0.4);
    padding: 3px;
    margin-top: 5px;
    border-radius: 5px;
}

.waveform-tracks {
    text-align: center;
    text-decoration: underline;
    width: 45%;
    margin-top: 10px;
    display: inline-block;
}

#lead-mute-btn {
    background-color: red;
    border: none;
    border-radius: 8px;
    text-align: center;
    color: white;
    opacity: 0.7;
}

#lead-mute-btn:hover {
    opacity: 1 !important;
}

#rhythm-mute-btn {
    background-color: red;
    border: none;
    border-radius: 8px;
    text-align: center;
    color: white;
    opacity: 0.7;
}

#rhythm-mute-btn:hover {
    opacity: 1 !important;
}

#drums-mute-btn {
    background-color: red;
    border: none;
    border-radius: 8px;
    text-align: center;
    color: white;
    opacity: 0.7;
}

#drums-mute-btn:hover {
    opacity: 1 !important;
}

.delete-btn {
    display: inline;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    opacity: 0.7
}

.delete-btn:hover {
    opacity: 1;
}

.color-box {
    border-radius: 8px;
    border-color: black;
    margin: 3px;
}

.color-container {
    background-color: rgba(0,0,0,0.4);
    padding: 3px;
    margin-top: 5px;
    padding: 3px;
    border-radius: 8px;
}

.jumbotron {
    min-height: 650px;
}